body {
  font-family: Arial;
  margin: 0;
  background: #f3f3f3;
}

/* HEADER */
.header {
  background: #131921;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* CONTAINER */
.cart-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* LISTE PRODUITS */
#cart-items {
  flex: 2;
}

/* ITEM */
.cart-item {
  display: flex;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  gap: 15px;
  align-items: center;
}

.cart-item img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* INFOS */
.cart-info {
  flex: 1;
}

/* QUANTITÉ */
.quantity {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.quantity button {
  padding: 5px 10px;
  cursor: pointer;
}

/* SUPPRIMER */
.remove {
  background: red;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  padding-left: 15px
}

/* RÉSUMÉ */
.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.checkout {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

/* MOBILE */
@media(max-width: 768px){
  .cart-container {
    flex-direction: column;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

/*formulaire*/
.client-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.client-form input,
.client-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.client-form textarea {
  resize: none;
  height: 80px;
}

