/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  color: white;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  flex: 1;
  max-width: 500px;
  margin: 10px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.search-bar button {
  padding: 10px;
  background: orange;
  border: none;
  cursor: pointer;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}

.header-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

/* NAV */
.nav {
  display: flex;
  gap: 15px;
  background: #232f3e;
  padding: 10px;
  flex-wrap: wrap;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  background: url("Images/EC272_Fashion-Trends__1360-x-680.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero button {
  margin-top: 10px;
  padding: 10px 20px;
  background: orange;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}


/* SECTION BOX (style Amazon) */
.section-box {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} 

/* GRID CATÉGORIES */
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.cat-item {
  text-align: center;
}

.cat-item img {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

/* PRODUITS */
.titre-produit{
  background: orange;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  margin-left: 20px;
  color: white;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 10px;
}

.product {
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
  background-color: white;
  padding: 0 0 10px 0px;
}

.product:hover {
  transform: scale(1.05);
}


.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product button {
  margin-top: 5px;
  padding: 8px;
  background: orange;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}

/* CAROUSEL */
.carousel-section {
  margin: 20px;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel-track {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.nav-btn {
  padding: 10px;
  background: orange;
  border: none;
  cursor: pointer;
}

/* PANIER (IMPORTANT) */
.cart {
  position: fixed;
  right: -300px; /* caché par défaut */
  top: 80px;
  width: 300px;
  background: white;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;
  overflow-y: auto;
}

/* quand actif */
.cart.active {
  right: 0;
}

.cart h3 {
  margin-bottom: 10px;
}

.cart ul {
  list-style: none;
}

.cart li {
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  background: #131921;
  color: white;
  padding: 20px;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer h4 {
  margin-bottom: 10px;
}

.copyright{
display: flex;
justify-content: center;
padding: 20px 0px 5px 0px ;
color: orange;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
  }

  .hero {
    padding: 50px 10px;
  }

  .cart {
    width: 100%;
  }
}

/*résultats de la barre de rechercher*/
#search-results{
  position:absolute;
  background:white;
  width:300px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,.2);
  z-index:100;
  max-height:300px;
  overflow-y:auto;
}

.result-item{
  display:flex;
  gap:10px;
  padding:10px;
  cursor:pointer;
}

.result-item img{
  width:50px;
  height:50px;
  object-fit:cover;
}

.result-item:hover{
  background:#eee;

}

